
html, body {
    margin:0;
    padding:0;
    font-size: 14px;
}


#title {
    font-size:30px;
    text-align:center;
    font-weight: lighter;
    width: 100%;
    height:auto;
    margin-top:40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#title2 {
    font-size:25px;
    display:flex;
    align-content: center;
    margin:0 auto;
    justify-content: center;
    text-decoration:none;
    font-weight: lighter;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

.beast {
    margin:50px;
    background-color: white;
    text-align: center;
}

#smallImage {
    width:70%;
    height:auto;
    margin:0 auto;
    text-align: center;
    background-color: white;
}

#extrasmallImage {
    width:80%;
    height:auto;
    margin:0 auto;
    text-align: center;
    background-color: white;
    display:flex;
    justify-content: space-between;
    padding:30px;
}

.carousel-indicators{
    list-style: none;
    bottom: -150px;
}
.carousel-indicators li, .carousel-indicators li.active{
    width: 70px;
    height: 70px;
    background-color: #fff;
    position: relative;
    margin: 0px;           
}
.carousel-indicators img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30px;
    left: 0;   
    margin-bottom:100px;         
}

.carousel-inner {
margin-bottom:100px;
margin-top:40px;
}

.carousel-caption {
    margin: -45px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width:25px;
    height:25px;
    border:1px solid darkslategrey;
    border-radius:50%;
    background-color: gray;
    opacity:0.2;
    transition:2s;
    
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    
    background-color: white;
    opacity:1;
    transform:rotate(360deg);
    transition:2s;
    filter: contrast(100%);
}

#press {
    width:93%;
    height:auto;
    text-align: left;
    margin:0 auto;
    padding:30px 15px 30px 15px;
}

a {
    color:black;
    text-decoration:none;
    border-bottom: 1px solid lightgray;
}

a:hover {
    color:black;
    text-decoration:none;
    transition:1s;
    border-bottom:1px solid black;
    cursor:pointer;  
}

#firstImage {
    display:flex;
    width:90%;
    height:300px;
    margin:0 auto;
    align-content: center;
    background-color: white;
}